button, textarea, .submitArea, .innerSubmitArea, .mainContent, .note {
    border-radius: 4px;
}

body {
    background-color: grey;
}

h1 {
    text-align: center;
    color: lightgray;
}

textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    resize: vertical;
    /* resize: none; */
}

button {
    background-color: gray;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}

button:hover {
    background-color: black;
}

button:active {
    background-color: white;
    color: black;
}

.noteButtons {
    margin-top: 10px;
    text-align: right;
}

.submitButton {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

.submitArea {
    background-color: steelblue;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid gray;
}

.innerSubmitArea {
    margin: auto;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.note {
    margin: auto;
    width: 70%;
    /* text-align: center; */
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-bottom: 10px;

    /* To show newlines (and tabs if needed) */
    white-space: pre-line;
    /* white-space: pre-wrap; */
}

.innerNote {
    margin: 10px;
}

.noteChanged {
    color: gray;
}

.mainContent {
    margin: auto;
    width: 80%;
    background-color: white;
    border: 1px solid darkgray;
}

.result {
    position: absolute;
    top: 10px;
    right: 10px;
    color: lightgray;
}